In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np

In [2]:
# create base df using first bike data csv
bike_data = "Resources/JC-201901-citibike-tripdata.csv"
bike_df = pd.read_csv(bike_data)
bike_df.tail()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
19671,853,2019-01-26 06:40:17.3320,2019-01-26 06:54:30.8880,3694,Jackson Square,40.71113,-74.0789,3183,Exchange Place,40.716247,-74.033459,26293,Subscriber,1977,1
19672,936,2019-01-27 06:36:20.6400,2019-01-27 06:51:57.1460,3694,Jackson Square,40.71113,-74.0789,3183,Exchange Place,40.716247,-74.033459,26291,Subscriber,1977,1
19673,653,2019-01-27 21:14:08.5460,2019-01-27 21:25:01.6170,3694,Jackson Square,40.71113,-74.0789,3677,Glenwood Ave,40.727551,-74.071061,26188,Customer,1998,2
19674,960,2019-01-29 06:15:26.5880,2019-01-29 06:31:26.7300,3694,Jackson Square,40.71113,-74.0789,3183,Exchange Place,40.716247,-74.033459,26196,Subscriber,1977,1
19675,1109,2019-01-30 06:30:03.6050,2019-01-30 06:48:33.2760,3694,Jackson Square,40.71113,-74.0789,3183,Exchange Place,40.716247,-74.033459,26242,Subscriber,1977,1

In [3]:
# collect additional 2019 csvs and create loop to add to bike df
csv_files = ["Resources/JC-201902-citibike-tripdata.csv",
            "Resources/JC-201903-citibike-tripdata.csv",
            "Resources/JC-201904-citibike-tripdata.csv",
            "Resources/JC-201905-citibike-tripdata.csv"]
for file in csv_files:
    add_data = file
    add_df = pd.read_csv(file)
    bike_df = bike_df.append(add_df)


bike_df.tail()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
36130,792,2019-05-31 23:51:00.1170,2019-06-01 00:04:12.4530,3186,Grove St PATH,40.719586,-74.043117,3214,Essex Light Rail,40.712774,-74.036486,26236,Customer,1991,1
36131,779,2019-05-31 23:51:22.7840,2019-06-01 00:04:22.3990,3186,Grove St PATH,40.719586,-74.043117,3214,Essex Light Rail,40.712774,-74.036486,29205,Customer,1991,2
36132,347,2019-05-31 23:55:38.3850,2019-06-01 00:01:26.2030,3186,Grove St PATH,40.719586,-74.043117,3269,Brunswick & 6th,40.726012,-74.050389,26179,Subscriber,1989,2
36133,552,2019-05-31 23:56:11.9740,2019-06-01 00:05:24.8810,3192,Liberty Light Rail,40.711242,-74.055701,3277,Communipaw & Berry Lane,40.714358,-74.066611,29528,Subscriber,1992,1
36134,520,2019-05-31 23:56:25.0240,2019-06-01 00:05:05.4860,3192,Liberty Light Rail,40.711242,-74.055701,3277,Communipaw & Berry Lane,40.714358,-74.066611,29589,Subscriber,1984,2

In [4]:
# separate start/stop date/time columns
start =  bike_df["starttime"].str.split(" ", n = 1, expand = True) 
start = start.rename(columns={0: 'start date', 1: 'start time'})

stop =  bike_df["stoptime"].str.split(" ", n = 1, expand = True) 
stop = stop.rename(columns={0: 'stop date', 1: 'stop time'})
stop.head()

    stop date      stop time
0  2019-01-01  03:12:30.8790
1  2019-01-01  05:26:25.9050
2  2019-01-01  10:49:10.2600
3  2019-01-01  13:09:54.5280
4  2019-01-01  13:09:46.5100

In [5]:
# append separate date and time columns
bike_df["start time"]= start["start time"]
bike_df["start date"]= start["start date"]

bike_df["stop time"]= stop["stop time"]
bike_df["stop date"]= stop["stop date"]

# drop original date time columns
bike_df = bike_df.drop("stoptime", axis = 1)
bike_df = bike_df.drop("starttime", axis = 1)

#explicitly state gender
bike_df['gender'] = bike_df['gender'].replace(to_replace= [0,1,2], value= ["unknown", "male", "female"])
bike_df.head()

,tripduration,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender,start time,start date,stop time,stop date
0,201,3183,Exchange Place,40.716247,-74.033459,3214,Essex Light Rail,40.712774,-74.036486,29612,Subscriber,1993,male,03:09:09.7110,2019-01-01,03:12:30.8790,2019-01-01
1,505,3183,Exchange Place,40.716247,-74.033459,3638,Washington St,40.724294,-74.035483,29213,Subscriber,1972,female,05:18:00.1060,2019-01-01,05:26:25.9050,2019-01-01
2,756,3183,Exchange Place,40.716247,-74.033459,3192,Liberty Light Rail,40.711242,-74.055701,26164,Subscriber,1985,male,10:36:33.3400,2019-01-01,10:49:10.2600,2019-01-01
3,1575,3183,Exchange Place,40.716247,-74.033459,3638,Washington St,40.724294,-74.035483,29672,Customer,1969,unknown,12:43:38.6430,2019-01-01,13:09:54.5280,2019-01-01
4,1566,3183,Exchange Place,40.716247,-74.033459,3638,Washington St,40.724294,-74.035483,29522,Customer,1969,unknown,12:43:39.6010,2019-01-01,13:09:46.5100,2019-01-01

In [6]:
bike_df["age"] = 2019-bike_df["birth year"]
bike_df.head()

,tripduration,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender,start time,start date,stop time,stop date,age
0,201,3183,Exchange Place,40.716247,-74.033459,3214,Essex Light Rail,40.712774,-74.036486,29612,Subscriber,1993,male,03:09:09.7110,2019-01-01,03:12:30.8790,2019-01-01,26
1,505,3183,Exchange Place,40.716247,-74.033459,3638,Washington St,40.724294,-74.035483,29213,Subscriber,1972,female,05:18:00.1060,2019-01-01,05:26:25.9050,2019-01-01,47
2,756,3183,Exchange Place,40.716247,-74.033459,3192,Liberty Light Rail,40.711242,-74.055701,26164,Subscriber,1985,male,10:36:33.3400,2019-01-01,10:49:10.2600,2019-01-01,34
3,1575,3183,Exchange Place,40.716247,-74.033459,3638,Washington St,40.724294,-74.035483,29672,Customer,1969,unknown,12:43:38.6430,2019-01-01,13:09:54.5280,2019-01-01,50
4,1566,3183,Exchange Place,40.716247,-74.033459,3638,Washington St,40.724294,-74.035483,29522,Customer,1969,unknown,12:43:39.6010,2019-01-01,13:09:46.5100,2019-01-01,50

In [7]:
bike_df.to_csv("Resources/output/citibike-tripdata-2019-all.csv")